link(rel="stylesheet",href="style.css")
script(type="text/javascript",src="https://code.jquery.com/jquery-3.2.1.min.js")
script(type="text/javascript",src="client.js")
.navbar
  ul
    if !currentUser
      li.navitem
        a.login-btn(href="login") Login
      li.navitem
        a(href="/signup") Signup